.pager {
    display: flex;
    align-items: stretch;
    justify-content: center;
    border-radius: 8px;
    height: 40px;
    margin: 30px auto;
    cursor: default;
    user-select: none;
    box-sizing: border-box;
    padding: 0 8px;
}

.prePage, .nextPage, .pageN {
    flex-shrink: 0;
}

.prePage, .nextPage {
    display: flex;
    align-items: center;
    justify-content: center;
}
.prePage {
    padding-right: 10px;
}
.nextPage {
    padding-left: 10px;
}
.prePage span, .nextPage span {
    font-size: 90%;
    margin-bottom: 1px;
}
.prePage img, .nextPage img {
    width: 24px;
    height: 24px;
}
.pageN {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    width: 50px;
    font-size: 95%;
}
.pageNSelected {
    border-color: black !important;
}
.prePage:hover, .nextPage:hover, .pageN:hover {
    background-color: #ececec;
}

@media screen and (max-width:767px) {
    .prePage:hover, .nextPage:hover, .pageN:hover {
        background-color: white;
    }
    .nextPage span {
        margin: auto 1ex;
    }
}