.btnDelete {
    font-size: 90%;
    color: #4582BE;
    cursor: default;
    user-select: none;
}
.btnDelete:hover {
    font-weight: bold;
}

@media screen and (max-width:767px) {  /* Smartphone */
    .btnDelete {
        font-size: 100%;
    }
    .btnDelete:hover {
        font-weight: normal;
    }
}