.about {
    border-top: 1px solid gray;
    flex-grow: 1;
    display: block;
    padding: 0 15px;
}
.about h2 {
    text-align: center;
    font-weight: normal;
    font-size: 190%;
}
.picLeft, .picRight {
    width: 350px;
    margin-bottom: 10px;
}
.picLeft {
    float: left;
    margin-right: 20px;
}
.picRight {
    float: right;
    margin-right: 20px;
}

@media screen and (max-width:767px) {  /* Smartphone */
    .about {
        margin: 0;
    }
    .about h2 {
        margin: 0.5ex 0 1ex 0;
    }
    .picLeft, .picRight {
        width: 100%;
        float: none;
        margin: 0;
    }
}
