.cartPageMain {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    border-top: 1px solid gray;
    justify-content: center;
    padding: 15px;
    background-color: #E1E1E1;
}
.shopping {
    flex-grow: 1;
    max-width: 900px;
    margin-right: 15px;
    padding: 0 15px 15px 15px;
    background-color: white;
}
.cartHeader {
    margin-bottom: 10px;
    border-bottom: 1px solid silver;
}
.cartHeader h2 {
    font-weight: normal;
    font-size: 160%;
    margin: 10px auto 10px 10px;
}
.total {
    align-self: start;
    background-color: white;
    padding: 10px 30px 20px 30px;
}

@media screen and (max-width:767px) {  /* Smartphone */
    .cartPageMain {
        max-width: 100vw;
        padding: 0;
        flex-direction: column;
        justify-content: start;
    }
    .shopping {
        width: 100vw;
        margin-right: 0;
    }
    .cartHeader {
        align-items: center;
        text-align: center;
        border-bottom: none;
        height: auto;
        margin: 5px 0 0 0;
    }
    .cartHeader h2 {
        margin: auto auto 20px auto;
    }
    .total {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }
    .upSubTotal {
        display: none;
    }
}