.loginContent {
    border-top: 1px solid transparent;
    border-radius: 10px;
    background-color: white;
    width: 430px;
    padding: 0px 40px 30px 40px;
}

@media screen and (max-width:767px) {  /* Smartphone */
    .loginContent {
        margin: 10px auto;
        width: 95vw;
    }
}