#top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

@media screen and (max-width:767px) {  /* Smartphone */
    #top {
        width: 100vw;
    }
}